streamlit==1.38.0
pillow==10.4.0
python-dotenv==1.0.1
langchain-groq==0.1.9
transformers==4.44.2
torch==2.4.1
torchvision==0.19.1
opencv-python==4.10.0.84
numpy==1.26.4
matplotlib==3.9.2
fpdf==1.7.2
captum==0.7.0
lime==0.2.0.1
pandas==2.2.3
numexpr==2.10.1