langchain
python-dotenv
ipykernel
langchain-community
pypdf
pymupdf
faiss-cpu
pandas
langchain-groq
validators==0.28.1
pytube
ultralytics
gradio
Pillow
streamlit
transformers
torchvision
matplotlib
fpdf
accelerate
peft
captum
lime
opencv-python-headless
numexpr
duckduckgo-search
timm
efficientnet-pytorch
tensorflow
tensorflow-hub
seaborn
plotly
numpy
streamlit-option-menu
transformers
torch 
torchvision